leetwindow/.vs/*
simplehollow/.vs/*
leetwindow/Debug/*
leetwindow/leetwindow/Debug/*
leetwindow/x64/*
simplehollow/Debug/*
simplehollow/x64/*
simplehollow/simplehollow/Debug/*
simplehollow/simplehollow/x64/*